$green: #2b7a78;
$white: #fff;
$grey: #999999;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: fixed;
  background: $white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin-bottom: 10px;
  background: $green;

  &__logo {
    font-size: 2rem;
    margin-left: 25px;
    display: flex;
    align-items: center;
  }

  &__date {
    margin-right: 25px;
  }
}
.links_container {
  width: 100%;
  padding-right: 20px;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  overflow-x: scroll;
  width: 100%;

  &__item {
    color: $grey;
    margin-left: 20px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;

    padding: 5px;
  }

  &__item:hover {
    border-bottom: 2px solid $green;
  }
}

.active {
  color: #141414;
  border-bottom: 2px solid $green;
}

@media screen and (min-width: 992px) {
  .links {
    padding-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .links {
    padding-left: 150px;
  }
}

@media screen and (min-width: 1600px) {
  .links {
    padding-left: 500px;
  }
}
