$green: #2b7a78;
$white: #fff;
$grey: #666;

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: fixed;
  background: $white;
  z-index: 1;
}

//Navbar header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background: $green;

  &__date {
    margin-right: 25px;
    font-weight: 400;
    font-size: 1rem;
  }
}

//Logo
.logo_container {
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.logo_link {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 60px;
}

// Arrow styling
.arrow_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.arrow {
  color: #333;
  opacity: 0.4;
  font-size: 1.8rem;
}

//Navbar Links
.links_container {
  width: 100%;
  padding: 0 20px;
}

.links {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;

  &__item {
    color: $grey;
    padding-right: 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
  }
  // Border bottom animation underline
  &__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 10%;
    background: $green;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
  }
}

// when clicked, font goes black, underline is permenant
.active {
  color: #000;
}

.active::after {
  transform: scale(1, 1);
}

@media screen and (min-width: 620px) {
  .arrow_container {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .links {
    padding-left: 100px;

    &__item {
      font-size: 1.2rem;
    }
    &__item:hover::after {
      transform: scale(1, 1);
    }

    &__item:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1200px) {
  .links {
    padding-left: 250px;
  }
}

@media screen and (min-width: 1600px) {
  .links {
    padding-left: 500px;
  }
}
