@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: fixed;
  background: $white;
  z-index: 1;
}

//Navbar header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background: $primary-color;

  &__date {
    margin-right: 25px;
    font-weight: 400;
    font-size: 1rem;
  }

  //LOGO
  &__logo_container {
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  &__logo_link {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: 60px;
  }
}

// Arrow styling
.arrow_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  //576px
  @include lg-mobiles() {
    display: none;
  }
}

.arrow {
  color: $dark-grey;
  opacity: 0.4;
  font-size: 1.8rem;
}

//Navbar Links
.links_container {
  width: 100%;
  padding: 0 20px;
}

.links {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  overflow-x: auto;
  //Remove scrollbar visibility on Firefox
  scrollbar-width: none;
  white-space: nowrap;
  width: 100%;

  //992px
  @include sm-desktop() {
    padding-left: 100px;
  }

  //1200px
  @include desktop() {
    padding-left: 250px;
  }

  //1600px
  @include lg-desktop() {
    padding-left: 500px;
  }

  &__item {
    color: $secondary-color;
    padding-right: 15px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
  }
  // Border bottom animation underline
  &__item::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 10%;
    background: $primary-color;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
  }

  &__item:hover::after {
    //992px
    @include sm-desktop() {
      transform: scale(1, 1);
    }
  }
}

// Remove scrollbar visibility
/* Works on Chrome, Edge, and Safari */
.links::-webkit-scrollbar {
  display: none;
}

// when clicked, font goes black, underline is permenant
.active {
  color: #000;
}

.active::after {
  transform: scale(1, 1);
}
