@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  box-shadow: 0 0 5px 1.5px #b6b6b6;
  border-radius: 10px;
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  height: 20rem;

  //768px
  @include tablets() {
    margin-bottom: 50px;
  }

  &:hover {
    box-shadow: 0 0 5px 2.5px #727272;
    cursor: pointer;
  }

  &__imgContainer {
    width: 100%;
    position: relative;

    &_img {
      object-fit: cover;
      width: 100%;
      border-radius: 10px;
      height: 10rem;
      filter: brightness(50%);
    }
  }

  &__body {
    position: absolute;
    top: 55%;
    width: 100%;
    padding: 10px;

    //576px
    @include lg-mobiles() {
      top: 60%;
    }

    //1200px
    @include desktop() {
      top: 55%;
    }
  }

  &__title {
    font-size: 1.2rem;
    color: $white;

    //576px
    @include lg-mobiles() {
      font-size: 1.5rem;
    }

    //1200px
    @include desktop() {
      font-size: 1.8rem;
    }
  }

  &__author {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;

    //576px
    @include lg-mobiles() {
      font-size: 1.2rem;
    }
  }
}
