@import "../../styles/variables";
@import "../../styles//mixins";

.main {
  padding: 160px 5px 10px 5px;

  //992px
  @include sm-desktop() {
    padding: 160px 100px 10px 100px;
  }

  //1200px
  @include desktop() {
    padding: 160px 250px 10px 250px;
  }

  //1600px
  @include lg-desktop() {
    padding: 160px 500px 10px 500px;
  }

  &__pageTitle {
    text-transform: capitalize;
    margin-left: 15px;
    padding-bottom: 10px;
  }

  &__line {
    margin: 0px 15px;
    height: 1px;
    background-color: $dark-grey;
    border: none;
  }

  &__container {
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;

  //576px
  @include lg-mobiles() {
    grid-template-columns: repeat(2, 1fr);
  }

  //768px
  @include tablets() {
    grid-template-columns: repeat(3, 1fr);
  }

  //1200px
  @include desktop() {
    gap: 1.5rem;
  }
}
